body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 20px;
}
div {
  margin: 0px 20px 0px 20px;
  line-height: 25px;
  width: 75%;
}
@media screen and (max-width: 750px) {
  div {
    width: 95%;
  }
}
table,
td,
th {
  padding: 5px 10px 5px 10px;
}
