body {
  background-color: black;
  color: white;
}
div {
  margin: 0px 20px 0px 20px;
  line-height: 25px;
  width: 75%;
}
@media (max-width: 750px) {
  div {
    width: 100%;
  }
}
p,
li,
th,
td {
  font-size: 20px;
}
table,
td,
th {
  padding: 5px 10px 5px 10px;
}
